### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store

/dynamic-templates/task1/app/templatetags/__init__.py
/dynamic-templates/task1/__init__.py
/dynamic-templates/__init__.py
