{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <section class="cd-products-comparison-table">
        <header>
            <h1>Сравнение телефонов</h1>
            <div class="actions">
                <a href="#0" class="reset">Reset</a>
                <a href="#0" class="filter">Filter</a>
            </div>
            </div>
        </header>

        <div class="cd-products-table">
		<div class="features">
			<div class="top-info">Models</div>
			<ul class="cd-features-list">
				<li>Price</li>
				<li>Customer Rating</li>
				<li>Resolution</li>
				<!-- other features here -->
			</ul>
		</div> <!-- .features -->
{% endblock %}